{# /templates/api.html.twig #}
{% extends 'base.html.twig' %}

<head>
  <link rel="stylesheet" id="fa-css" href="http://dev14.wp.ittour.com/site20/wp-content/themes/cleanco/css/customstyle.css" type="text/css">
</head>
<div class="container" style="max-width:1280px;">
<div class="country-table">
	<div class="country-row">
		{% for key, value in offers %}
		<div class="country-item">
			<a href="{{ country.GetCountryLink(value.country) }}">
                <span id="country-flag"><img src="{{ country.GetCountryFlag(value.country) }}"/></span>
				<span id="country-name" style="width: 35%;">{{ value.country }}</span>
				<span id="country-price" style="height: auto;"> от {{ value.prices['1']/divisionForOnePerson|round }} </span>
            </a>
		</div>
		<?php endforeach; ?>
	</div>
</div>
</div>

{% endblock %}